* {
    margin: 0;
    font-family: "Roboto";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

/* HERO CONTENTs */

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 128px;
}

.hero {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb
}

.hero .icon {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 32px;
}

.hero-main-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 32px 128px;
}

.hero-content p {
    margin: 16px 250px;
    margin-left: 0;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0 250px;
    margin-left: 0;
}

.hero-sign-up {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
}

.hero-sign-up:hover {
    box-shadow: 2px 2px 4px 4px rgba(0, 0,0, 0.4);
}

.hero-fig img {
    max-width: 600px;
    height: auto;
}

/* SECTION OF RANDOM INFORMATION */

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 16px 256px;   
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    margin-top: 15px;
}

.card a div {
    border: 4px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}